ul.mainMenu {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content:center ;
}
ul.mainMenu li{
  background-color: rgb(32, 32, 49);
  position: relative;
}
ul.mainMenu li a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.9375rem 1.25rem;
}
ul.mainMenu li:hover{
    background-color: rgb(5, 148, 148);
}
ul.nichermanu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
}
ul.mainMenu li:hover ul.nichermanu{
    display: block;
}
ul.web li{
    background-color: rgb(3, 3, 37);
}

ul.web{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    left: 100%;
    top: 20%;
}

ul.nichermanu li:hover ul.web{
    display: block;
}
ul.nichermanu li:hover ul.graphic{
    display: block;
}
ul.graphic, ul.digital{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    left: 100%;
    top: 10%;
}
ul.graphic li{
    background-color: rgb(3, 3, 37);
    color: black;
}
ul.nichermanu li:hover ul.digital{
    display: block;
}
ul.digital li{
    background-color:rgb(94, 12, 33);
}